
@import 'values';
@import 'outline';

@import 'text';

main.author {
  
  header {

    position: relative;
    border-bottom: $border-width solid $border-color;

    padding: $post-header-vertical-padding $body-horizontal-padding;

    h1.name {
      font-size: $post-title-size;
      color: $post-title-color;
      font-weight: bold;
      display: inline-block;
    }
    
  }

  .text {
    padding: $body-vertical-padding $body-horizontal-padding;
  }

  .accounts {
    padding: $body-vertical-padding $body-horizontal-padding;

    list-style-type: none;
    
    li {

      line-height: 150%;

      .service {
        font-style: italic;
        opacity: 0.7;
        text-align: right;
        display: none;
      }

      .name {
        font-family: monospace;
        font-weight: bold;
        margin-left: $unit;
        color: $theme-color;
      }
      
    }
    
  }

}
