
@import 'values';
@import 'outline';

@import 'text';

main {
  background-color: $body-background-color;
  
  max-width: $page-max-width + $body-horizontal-padding;
  margin: 0 auto;
  margin-top: $header-height + $unit * 2;

  @include outline();

}

@media #{$small} {
  main {
    width: 100%;
    border: none;
    border-radius: 0;
    max-width: none;
    margin-top: $header-height;
  }
}

@media #{$tiny} {
  main {
    margin-top: 0;
  }
}