
@import 'outline';
@import 'values';

#footer {
  background-color: $header-background-color;
  border-top: $border-width solid $border-color;

  padding: $body-vertical-padding 0;

  text-align: center;

  font-style: italic;

  margin-top: 10em;
  
  > span {
    padding: 0 $body-horizontal-padding;
    display: inline-block;
  }

  .copyright {
    margin-top: $unit;
    display: block;
    font-size: 12px;
    opacity: 0.75;
  }
  
}

@media #{$small} {
  #footer {
    margin-top: 0;
    font-weight: bold;
  }
}

@media #{$tiny} {
  #footer {
    
    border-top: none;
    padding: 0;
    padding-top: 5em;

    .copyright {
      margin-top: 0;
    }
    
    > span {
      border-top: $border-width solid $border-color;
      display: block;
      padding: $unit * 2;
    }

  }
}