
@import 'outline';
@import 'values';

#header {
  background-color: $header-background-color;
  height: $header-height;
  width: 100%;

  @include header();
  
  @include outline-bottom();

  position: fixed;
  top: 0;
  z-index: 100;

  > .content {
    max-width: $page-max-width;
    margin: 0 auto;

    > .logo.link {
      background-color: $theme-color;
      height: $header-logo-height;
      width: $header-logo-width;
      display: inline-block;
      float: left;
      position: relative;

      img {
        height: $header-logo-height;
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: $header-logo-width;
        height: $header-logo-height - $border-width;
        border-bottom: $border-width solid $border-color;
      }

    }

    > nav {
      display: inline-block;
      float: left;
      
      height: $header-height;

      margin: 0 $header-horizontal-spacing;

      ul {

        li {
          margin: 0 $header-nav-horizontal-spacing / 2;
          padding: 0 $header-nav-horizontal-spacing / 2;

          height: $header-height;
          
          display: inline-block;
          
        }

      }

    }
    

    nav a, .about a {
      font-size: $header-font-size;
      text-transform: uppercase;
      
      color: rgba($header-foreground-color, 0.5);
      line-height: $header-height;
      display: block;
    }
    
    .about {
      margin-right: $header-nav-horizontal-spacing;
      padding: 0 $header-nav-horizontal-spacing / 2;
      
      height: $header-height;
      display: inline-block;
      float: right;
    }
    
  }
  
}

body.articles #header li.articles,
body.article #header li.articles,
body.news #header li.news,
body.events #header li.events,
body.event #header li.events,
body.about #header .about {

  border-bottom: 3px solid $theme-color;
  a {
    color: rgba($header-foreground-color, 0.8);
  }

  @media #{$tiny} {
    border-bottom: none;
    background-color: $theme-color;
    a {
      color: $theme-color-foreground;
    }
  }
  
}

@media #{$small} {
  #header {

  }
}

@media #{$tiny} {
  #header {
    height: auto;
    text-align: center;
    position: static;

    .content {

      height: 100%;

      > .logo.link {
        float: none;
        display: block;
        margin: 0;
        width: 100%;
        margin-bottom: $unit;

        &:after {
          width: 100%;
        }
      }
      
      > nav {
        display: block;
        width: 100%;
        margin: 0;
        height: auto;

        ul {

          width: 100%;
          li {
            margin: 0;
            padding: 0;
            display: block;
          }
          
        }
        
      }
      
      .about {
        float: none;
        width: 100%;
        margin: 0;
        padding: 0;
      }
      
    }
    
  }
}
