
@import 'reset';

@import 'values';

@import 'header';

@import 'body';
@import 'post';
@import 'post-list';
@import 'author';
@import 'tools';

@import 'footer';

html, body {
  width: 100%;
}

html {
  background: $background-color url('/media/background.png') repeat;
  color: $page-foreground-color;
  font: Roboto, sans-serif;
  font-size: $unit * 2;
}


body {
  display: flex;
  flex-direction: column;

  min-height: 100vh;

  #content {
    flex: 1;
  }
}