
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import 'reset';

@import 'values';

@import 'header';

@import 'body';
@import 'post';
@import 'post-list';
@import 'author';
@import 'tools';

@import 'footer';

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

html {
  background: $background-color url('/media/background.png') repeat;

  @if $dark {
    background: $page-background-color;
  }
  
  color: $page-foreground-color;
  font-family: Roboto, Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: $unit * 2;
}

body {
  display: flex;
  flex-direction: column;

  min-height: 100vh;

  #content {
    flex: 1;
  }
}