
@import 'reset';

@import 'values';

@import 'header';

@import 'body';
@import 'article';

html, body {
  width: 100%;
}

html {
  background-color: $background-color;
  color: $page-foreground-color;
  font: Roboto, sans-serif;
}