
@import 'values';
@import 'outline';

@import 'text';

main.tools {

  font-family: monospace;
  padding: $body-vertical-padding 0;

  @extend .tools;

  a {
    @include link();
  }

  div {
    padding: 0 $body-horizontal-padding;
    
    &.missing-terms {
      ul {
        list-style-type: none;
      }
    }
  
  }

  div + div {
    margin-top: $body-vertical-padding;
    padding-top: $body-vertical-padding;

    border-top: $border-width solid $border-color;
  }
  
}
