
$dark: false;

$unit: 8px;

$background-color: #eee;

$theme-color: #07f;
$theme-color-foreground: white;

$arbitrary-width: 5000px;

$anim: 0.15s;

// page

$page-image-width: 1000px;
$page-background-color: white;
$page-foreground-color: #444;
$page-foreground-extreme: black;

$medium: "(max-width: 1400px)";
$small: "(max-width: 1024px)";
$tiny: "(max-width: 600px)";
$miniscule: "(max-width: 480px)";

@if $dark {
  $background-color: #444;

  $page-background-color: #555;
  $page-foreground-color: #d8d8d8;
  $page-foreground-extreme: white;
}

/* header */

$header-background-color: $page-background-color;
$header-foreground-color: $page-foreground-color;
$header-font-size: $unit * 2;

$header-height: 64px;
$header-logo-width: 200px;
$header-logo-height: 64px;
$header-horizontal-spacing: $unit * 3;
$header-nav-horizontal-spacing: $unit * 2;

/* body */

$body-background-color: $page-background-color;

$body-vertical-padding: $unit * 2;
$body-horizontal-padding: $unit * 4;

$body-inline-post-title-color: rgba($page-foreground-color, 0.7);
$body-inline-post-title-size: $unit * 2.5;

$body-inline-post-author-color: $page-foreground-color;
$body-inline-post-author-size: $unit * 2;
$body-inline-post-author-margin: $unit * 2;

$body-inline-post-date-margin: $unit * 2;

$body-inline-post-blurb-margin-top: $unit;
$body-inline-post-blurb-max-height: 4em;
$body-inline-post-blurb-fade-height: 1.5em;

@if $dark {
  $body-inline-post-title-color: $page-foreground-color;
}

$page-link-color: rgba(mix($theme-color, $body-background-color, 50%), 0.5);
$page-link-color-hover: rgba($page-link-color, 1.0);
$page-link-foreground-color: $page-foreground-extreme;

@if $dark {
  $page-link-color: rgba(mix($theme-color, $body-background-color, 100%), 0.5);
  $page-link-color-hover: rgba($page-link-color, 1.0);
}

/* border */

$border-width: 1px;
$border-color: rgba(black, 0.15);
$border-color-bottom: rgba(black, 0.2);
$border-radius: 4px;

@if $dark {
  $border-color: rgba(black, 0.3);
  $border-color-bottom: rgba(black, 0.4);
}

/* post */

$post-category-font-size: $unit * 1.5;
$post-category-foreground-color: mix($page-foreground-color, $background-color, 50%);
$post-category-padding: $unit * 2;

$post-header-vertical-padding: $unit * 2;
$post-header-hero-height: 512px;
$post-header-hero-padding: $unit * 2;
$post-header-hero-fade-height: 240px;
$post-header-hero-color: $page-background-color;

$post-title-color: rgba($page-foreground-color, 0.9);
$post-title-size: $unit * 3;

$post-author-color: $page-foreground-color;
$post-author-size: $unit * 2;

$post-blurb-margin-top: $unit;
$post-blurb-max-height: 4em;
$post-blurb-fade-height: 1.5em;

$post-text-vertical-padding: $unit * 4;

@if $dark {
  $post-header-hero-color: $page-foreground-color;
}

/* text */

$text-h1-font-size: $unit * 3;
$text-h1-foreground-color: mix($page-foreground-color, $background-color, 70%);

/* sidebar */

$sidebar-vertical-padding: $unit * 1;
$sidebar-horizontal-padding: $unit * 2;

/* page width */

$page-max-width: $page-image-width;

@mixin header() {
  font-family: Montserrat, Roboto, Arial, Helvetica Neue, Helvetica, sans-serif;
}

@mixin float-clear() {
  &:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
  }
}